
{{!-- display trip data --}}
<h1>{{ name }}</h1>
<h3>{{ location }}</h3>
<h3>{{ dates }}</h3>
<h3>{{ photo }}</h3>

{{!-- display saved events --}}
<div class="row">
    <div class="col-md-6 events">
        <ul>
            {{#each activities}}
                <p>activity name:  {{this.name}}</p>
                <p>activity description: {{this.description}}</p>
                <p>activity url:  {{this.url}}</p>
                <p>activity photo:  {{this.photo}}</p>
            {{/each}}
        </ul>
    </div>

    {{!-- display saved restaurant --}}
    <div class="col-md-6 restaurants">
        <ul>
            {{#each restaurants}}
                <p>restaurant name:  {{name}}</p>
                <p>restaurant address:  {{address}}</p>
                <p>restaurant rating:  {{rating}}</p>
                <p>restaurant photo:  {{photo}}</p>
            {{/each}}
        </ul>
    </div>
</div>