<style>
    .poi-pic {
        height: 100%;
    }
</style>

{{!-- display saved events --}}
<div class="row items">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="sub-title-text todosheader">Saved Points of Interest</h2>
        <hr>
        <div class="row saved-pois">
            {{#each activities}}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 activity">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- Photo -->
                        <div class="row result-row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 poi-pic">
                                <img src="{{this.photo}}" alt="poi_image">
                            </div>
                            <!-- Text -->
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 poi-info">
                                <h3 class="poi-name">{{this.name}}</h3>
                                <p class="poi-description">{{this.description}}</p>
                                {{!-- <br> --}}
                                <span class="poi-links"><a href="{{this.url}}" target="_blank">More Info</a>    <span style="color: #616161">&</span>    <a href="{{this.directions}}" target="_blank">Directions</a></span>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 poi-btn">
                                <button class="btn btn-warning my-2 my-sm-0 nav-btn deleteActivity save-btn" data-id="{{this.id}}" type="button">Remove From Trip</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div><br>
        <h2 class="sub-title-text todosheader">Saved Restaurants</h2>
        <hr>
        <div class="row saved-rest">
            {{#each restaurants}}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 restaurant">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- Photo -->
                        <div class="row result-row">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 rest-pic">
                                <img src="{{this.photo}}" alt="restaurant_image">
                            </div>
                            <!-- Text -->
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 rest-info">
                                <h3 class="rest-name">{{this.name}}</h3>
                                <p class="rest-address">{{this.address}}</p>
                                <span class="rest-rating-title">Rating:</span><span class="rest-rating"> {{this.rating}}/5</span>
                                <br>
                                <span class="rest-dir"><a class="rest-direction" target="_blank" href="{{this.directions}}">More Info <span style="color:#616161">&</span> Directions</a></span>
                                <br>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 rest-btn">
                                <button class="btn btn-warning my-2 my-sm-0 nav-btn deleteRestaurant save-btn" data-id="{{this.id}}" type="button">Remove From Trip</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>