
{{!-- display trip data --}}
<h1>{{ name }}</h1>
<h3>{{ location }}</h3>
<h3>{{ dates }}</h3>
<h3>{{ photo }}</h3>

{{!-- display saved events --}}
<div class="col-md-6 events">
    {{this.events.name}}
    {{this.events.address}}
    {{this.events.rating}}
    {{this.events.photo}}
</div>

{{!-- display saved restaurant --}}
<div class="col-md-6 restaurants">
    {{this.restaurants.name}}
    {{this.restaurants.address}}
    {{this.restaurants.rating}}
    {{this.restaurants.photo}}
</div>